.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


      /* Optional: Makes the sample page fill the window. */
      
html, body, {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    }



input {
    font-size: 12px;
    }

h1 {
    color: gray;
    font-size: 22px;
    margin: 0 0 0px 0;
    padding-left: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    }

      
#map {
  bottom: 0px;
  top: 60px;
  height: calc(100% - 60px);
  left: 260px;
  position: absolute;
  right: 0px; 
}

.side-bar {
  background: black;
  color: white;
  height: calc(100vh - 40px);
  line-height: 35px;
  padding: 10px 10px 30px 0px;
  text-align: left;
  width: 250px;
}


#places-search,
#search-within-time-text {
    width: 84%;
}

.navbar{
    width: 100%;
    height: 60px;
    display: block;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 1;
    padding-left: 5px;

    left: 260px;
    line-height: 60px;
    vertical-align: middle;
}

.hamburger{
     display: inline-block;
     width: 45px;
     height: 45px; 
     text-align: center;
     line-height: 45px;
     vertical-align: middle;
     cursor: pointer;
     color: #6b9ffc;
     font-size: x-large;
}

.venue-list{
    list-style-type: none;
    padding-left: 15px; 
}

.venue-list>li{
    cursor: pointer;
    color:gray;
    font-family: 'Roboto', sans-serif;
}

.filter-input{
    margin-top: 15px;        
    padding: 5px;
    padding-left: 15px;
    width: 240px;
    border: none;
    height: 30px;
    font-size: large;
    letter-spacing: 0.5px;
    color: #b5b5b5;
}

@media screen and (min-width: 800px) {
  .navbar{
    height: 50px;
    line-height: 45px;
  }
  #map{
    top: 50px;
    height: calc(100% - 50px);
  }
  .hamburger{
    height: 35px;
    width: 35px;
    font-size: large;
    line-height: 35px;

  }
}
